node_modules/
dist/
docs/**/*.html
docs/.nojekyll
docs/assets
coverage/
# OS
.DS_Store

# Editors
.idea/
.project/
.classpath/
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
*.tmproj
.vscode/
